html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 21px;
  line-height: 1.24;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
  min-width: 56px;
}

.main-navigation {
  position: relative;

  padding: 0 73px;

}

.site-navigation {
  display: flex;
  align-items: center;

  min-height: 56px;

  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 1.86;

  list-style: none;
}

.item-navigation {
  width: 25%;
}

.item-navigation-right {
  text-align: right;
}

.active {
  text-align: right;
}

.logo-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.site-navigation a {
  color: #000000;
  font-weight: 700;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.active a {
  color: #81b3d2;
}

.promo {
  position: relative;
  min-height: 450px;

  background-color: #81b3d2;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;

  padding-bottom: 73px;
  margin-bottom: 60px;
}

.promo::after {
  content: "";

  position: absolute;

  width: 1200px;
  height: 59px;

  top: 450px;
  left: 0px;

  background-image: url("../img/polygo.png");
  background-repeat: no-repeat;


}

.welcome {
  width: 459px;
  margin: 0 auto;
}

.picture {
  margin-top: 76px;
}

.picture::after {
  content: "";

  background-image: url("../img/polygo.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.headline {
  display: block;
  width: 440px;

  font-size: 21px;
  line-height: 1.24;
  text-align: center;
  font-weight: 700;

  margin: 0 auto;
  margin-bottom: 28px;
}

.heading {
  width: 200px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 32px;
}

.title {
  font-weight: 700;

  width: 200px;
}
.close{
  width: 259px;
}
.beautiful-road{
  width: 150px;
}
.riding{
  width: 262px;
}
.grandee{
  width: 246px;
}
.tourist{
  width: 150px;
}
.title-items {
  font-weight: 700;

  margin: 0;
  margin-bottom: 24px;
}
.advantages-item .depiction{
  margin-bottom: 84px;
}
.housing .depiction{
  width: 252px;
}
.food .depiction{
  width: 284px;
}
.souvenirs .depiction {
  width: 273px;
}
.cause {
  font-size: 14px;
  line-height: 1.86;

  text-align: center;

  margin: 0;
  margin-bottom: 49px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.advantages {
  position: relative;
  display: flex;

  list-style: none;

  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;
  padding-top: 160px;
  text-align: center;
}

.housing::before {
  content: "";
  position: absolute;

  width: 75px;
  height: 72px;

  top: 60px;
  left: 162px;

  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food::before {
  content: "";
  position: absolute;

  width: 74px;
  height: 70px;

  top: 60px;
  left: 563px;

  background-image: url("../img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: 0 0
}

.souvenirs::before {
  content: "";
  position: absolute;

  width: 64px;
  height: 76px;

  top: 60px;
  left: 968px;

  background-image: url("../img/icon-present.svg");
  background-repeat: no-repeat;
  background-position: 0 0
}

.img {
  display: block;

  width: 800px;
  min-height: 256px;

  margin: 0;
  padding: 0;
}

.content {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;

  margin: 0;
}
.description{
  width: 302px;
}
.number {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;

  margin-bottom: 30px;
}

.info-reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;

  width: 400px;
  height: 256px;
  padding-left: 48px;
  padding-right: 49px;

  background-color: #81b3d2;
  color: #ffffff;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 256px;
  padding-right: 60px;
  padding-left: 60px;

  background-color: #81b3d2;
  color: #ffffff;
}

.info span {
  color: #ffffff;
}

.info p {
  color: #ffffff;
}

.info-reverse p {
  color: #ffffff;
}

.info-reverse span {
  color: #ffffff;
}

.info-white {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 256px;

  background-color: #eeeeee;
}

.attractions-item {
  background-color: #eeeeee;
  width: 400px;
}

.wrapper-interest {
  min-height: 291px;
}

.interest {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
}

.data {
  font-size: 14px;
  line-height: 1.86;

  text-align: center;
}

.modal-search {
  margin: 0 auto;
  margin-top: -86px;
}

.search {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  text-transform: uppercase;
  color: #ffffff;

  width: 568px;
  height: 86px;
  border: 0;
  padding: 0;

  background-color: #766357;
}

.search:hover {
  background-color: #604e43;
  color: #ffffff;
}

.search:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.search-form {

  width: 568px;
  min-height: 395px;
  background-color: #ffffff;
}

.search-item {
  margin: 0;
}

.nomination {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.86;
}

.search-button {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  text-transform: uppercase;
  color: #ffffff;

  width: 458px;
  height: 58px;

  background-color: #81b3d2;
}

.search-button:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.search-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.modal-wrapper {
  width: 568px;
  margin: 0 auto;
}

.main-footer {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: -120px;

}

.headline-legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  color: #ffffff;
}

.offers {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
}

.filter {
  display: flex;

  padding-right: 74px;
  padding-left: 72px;
  padding-bottom: 31px;
  padding-top: 31px;
}
.filter .field-group{
  display: flex;
  padding: 0;
  margin: 0;

  border: none;
}
.filter .field-house{
  margin-left: 115px;
}
.cost {
  margin-left: auto;
}
.infrastructure{
  padding: 0;
  margin:0;
}
.house{
  padding: 0;
  margin:0;
}

.filter-hotel {
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.filter-option {
  list-style: none;
}

.filter-range {
  width: 330px;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;

  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


.headline-sorting {
  font-size: 12px;
  line-height: 1.5;

  padding-left: 49px;
  padding-right: 40px;
  margin: 0;

  align-self: center;
}

.search-number {
  font-weight: 700;
  align-self: center;
  margin: 0;
}

.sorting-item {
  font-size: 12px;
  line-height: 1.5;

  list-style: none;

  padding-right: 33px;
}

.catalog-sorting {
  display: flex;
  padding-left: 72px;
  padding-top: 31px;
  padding-right: 73px;
  padding-bottom: 33px;
}

.sorting-list {
  display: flex;
}

.arrows-button {
  margin-left: auto;
  align-self: center;
}

.sort-by-price {
  color: #81b3d2;
}

.sort-by-type {
  color: rgba(0, 0, 0, 0.3);
}

.sort-by-type:hover {
  color: #81b3d2;
}

.sort-by-type:active {
  color: #000000;
}

.sort-by-functions {
  color: rgba(0, 0, 0, 0.3);
}

.sort-by-functions:hover {
  color: #81b3d2;
}

.sort-by-functions:active {
  color: #000000;
}
.price{
  margin-bottom: 9px;
}
.hotel-price {
  font-size: 14px;
  line-height: 1.5;
}

.details {
  width: 110px;
  height: 27px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;

  background-color: #81b3d2;
}

.details:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.result-item {
  display: flex;
  padding: 30px 72px;
}

.image-hotel {
  width: 135px;
  height: 90px;
}

.hotel-price {
  margin: 0;
}

.price {
  display: flex;
  justify-content: space-between;

  width: 184px;

  font-size: 14px;
  line-height: 1.5;
}

.info-hotel {
  padding-left: 30px;
}

.info-hotel h3 {
  margin: 0;
  margin-bottom: 7px;

  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
}
.rating {
  margin-left: auto;
}
.buttons{
  display:inline-block;
  text-align: center;
  padding: 7px 17px;
}
.reservation {
  width: 142px;
  height: 27px;

  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;

  background-color: #766357;
}

.reservation:hover {
  background-color: #604e43;
  color: #ffffff;
}

.reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

.info-hotel h3:hover {
  color: #81b3d2;
}

.info-hotel h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.name-logo {
  width: 136px;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  margin-right: auto;
}


.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;

  padding-left: 132px;
  padding-right: 110px;
  padding-bottom: 36px;
  padding-top: 36px
}

.footer-visit {
  width: 240px;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  width: 400px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 152px;
  padding: 0;
  margin: 0;
  list-style: none;

  margin-right: 228px;
}

.social-item {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-item:hover,
.social-item:focus {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social-icon {
  display: block;
  fill: #fff;
}

.copyright-text {
  display: block;
  width: 74px;

  font-size: 14px;
  line-height: 1.86;
  color: #000000;

  margin-left: auto;
}

.copyright-link {
  width: 115px;
  height: 41px;
  font-size: 0;

  margin-left: auto;
}

.copyright-icon path {
  fill: #231f20;
}

.copyright-icon:hover path,
.copyright-icon:focus path {
  fill: #81b3d2;
}

.copyright-icon:active path {
  fill: #bdbbbc;
}

.social-btn:active .social-icon path {
  fill: rgba(255, 255, 255, 0.3);
}

.main-footer-hotels {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 132px;
  padding-right: 110px;
  padding-bottom: 36px;
  padding-top: 36px
}
