html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 21px;
  line-height: 1.24;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;

  background-color: #ffffff;
  -webkit-box-shadow: 5px 0px 15px rgba(0, 1, 1, 0.2);
  box-shadow: 5px 0px 15px rgba(0, 1, 1, 0.2);
}

.main-header {
  min-width: 56px;
}

.main-navigation {
  position: relative;

  background-color: #ffffff;

}

.site-navigation {
  list-style: none;

  display: -webkit-box;
  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 72px;
  padding-left: 72px;
  margin: 0;
}

.site-navigation li {

  width: 25%;

  font-size: 14px;
  line-height: 1.86;
  font-weight: 700;
}

.item-right {
  margin-right: auto;
  text-align: right;
}

.item-map {
  text-align: right;
}

.logo-header {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 3;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.active a {
  color: #766357;

  cursor: default;
}

.active a:hover {
  color: #766357;
}

.promo {
  position: relative;
  min-height: 450px;

  background-color: #81b3d2;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;

  padding-bottom: 73px;
  margin-bottom: 60px;
}

.promo::after {
  content: "";

  position: absolute;

  width: 100%;
  height: 59px;

  bottom: -2px;
  left: 0px;

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;


}

.image-wrap {
  width: 800px;
  height: 256px;

  overflow: hidden;
}

.welcome {
  width: 459px;
  margin: 0 auto;
}

.picture {
  margin-top: 76px;
}

.picture::after {
  content: "";

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.headline {
  display: block;
  width: 440px;

  font-size: 21px;
  line-height: 1.24;
  text-align: center;
  font-weight: 700;

  margin: 0 auto;
  margin-bottom: 28px;
}

.heading {
  width: 200px;
  font-weight: 700;

  margin: 0;
  margin-bottom: 32px;
}

.title {
  margin: 0;
  font-weight: 700;

  width: 200px;
}

.title-items {
  font-weight: 700;

  margin: 0;
  margin-bottom: 24px;
}

.housing .depiction {
  width: 252px;
}

.food .depiction {
  width: 284px;
}

.souvenirs .depiction {
  width: 273px;
}

.cause {
  font-size: 14px;
  line-height: 1.86;

  text-align: center;

  margin: 0;
  margin-bottom: 49px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  display: flex;
  flex-wrap: wrap;

  text-align: center;
}

.attractions-item {
  width: 400px;
  padding: 50px 77px;
}

.list-features {
  padding-bottom: 50px;
  padding-top: 63px;
  padding-left: 95px;
  padding-right: 97px;
}

.advantages {
  position: relative;
  display: flex;

  list-style: none;

  padding: 0;
  margin: 0;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;
  padding-top: 160px;
  padding-bottom: 80px;
  text-align: center;
}

.housing::before {
  content: "";
  position: absolute;

  width: 75px;
  height: 72px;

  top: 60px;
  left: 162px;

  background-image: url("../img/icon-house.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.food::before {
  content: "";
  position: absolute;

  width: 74px;
  height: 70px;

  top: 60px;
  left: 563px;

  background-image: url("../img/icon-hamburger.svg");
  background-repeat: no-repeat;
  background-position: 0 0
}

.souvenirs::before {
  content: "";
  position: absolute;

  width: 64px;
  height: 76px;

  top: 60px;
  left: 968px;

  background-image: url("../img/icon-present.svg");
  background-repeat: no-repeat;
  background-position: 0 0
}

.img {
  display: block;

  width: 800px;
  min-height: 256px;

  margin: 0;
  padding: 0;
}

.content {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;

  margin: 0;
}

.description {
  width: 302px;
}

.number {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
}

.info-reverse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;

  width: 400px;
  height: 256px;
  padding-left: 48px;
  padding-right: 49px;

  background-color: #81b3d2;
  color: #ffffff;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 400px;
  height: 256px;
  padding-right: 60px;
  padding-left: 60px;

  background-color: #81b3d2;
  color: #ffffff;
}

.info span {
  color: #ffffff;
}

.info p {
  color: #ffffff;
}

.info-reverse p {
  color: #ffffff;
}

.info-reverse span {
  color: #ffffff;
}

.attractions-item {
  background-color: #eeeeee;
  width: 400px;
}


.form-hotels {
  box-sizing: content-box;
  position: relative;
  text-align: center;

  padding-top: 3px;
}

.form-hotels h3 {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;

  margin: 0;
  padding-top: 30px;

  color: #000000;
}

.form-description {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  padding-top: 10px;
}

button[name="show-form"] {
  width: 568px;
  height: 86px;
  margin-top: 30px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #766357;

  cursor: pointer;
}

button[name="show-form"]:hover,
button[name="show-form"]:focus {
  background-color: #604E43;
}

button[name="show-form"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503E33;
}

.hotel-form {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;

  width: 458px;
  max-height: 395px;
  padding-top: 44px;
  padding-right: 54px;
  padding-left: 54px;
  padding-bottom: 57px;

  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);

  background-color: #FFFFFF;
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: slow-show;
  animation-name: slow-show;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}

@-webkit-keyframes slow-show {
  from {
    opacity: 0;
    margin-top: -1000px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }

}

@keyframes slow-show {
  from {
    opacity: 0;
    margin-top: -1000px;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
  animation: shake 0.6s;
}

@-webkit-keyframes shake {
  0%,
  100% {
    margin: 0;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }

  20%,
  40%,
  60%,
  80% {
    margin-left: 10px;
  }
}

@keyframes shake {
  0%,
  100% {
    margin: 0;
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    margin-left: -10px;
  }

  20%,
  40%,
  60%,
  80% {
    margin-left: 10px;
  }
}

.form-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hotel-form input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;

  background-color: #F2F2F2;
  border: none;
}

.hotel-form input:hover {
  background-color: #EBEBEB;
}

.hotel-form input:focus {
  background-color: #FFFFFF;
}

.arrival,
.departure {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  width: 100%;
}

.adults label {
  padding-right: 43px;
}

.children {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.86;
  margin-left: auto;
}

.children label {
  padding-right: 30px;
}

.adults {
  font-size: 14px;
  font-weight: 700;

  line-height: 1.86;
}

/*
Для IE
*/

.date-info {
  width: 112px;
  text-align: left;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.86;
}

.date-input {
  width: 346px;
  height: 38px;

  padding-left: 10px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.counter {
  width: 36px;
  height: 36px;

  text-align: center;
}

.calendar-icon {
  position: absolute;
  bottom: 4px;
  right: 5px;

  background-color: transparent;
  border: none;
}

.calendar-icon path {
  fill: #CACACA;
}

.calendar-icon:hover path,
.calendar-icon:focus path {
  fill: #000000;
}

.calendar-icon:active path {
  fill: #81B3D2;
}

.button-minus,
.button-plus {
  width: 38px;
  height: 38px;

  background-color: #F2F2F2;
  border: none;

  font-weight: 600;
  color: #a9a9a9;
  font-size: 23px;
}

.button-minus {
  font-size: 35px;
  font-weight: 400;
}

.button-minus:hover,
.button-plus:hover,
.button-minus:focus,
.button-plus:focus {
  color: #000000;
}

.button-minus:active,
.button-plus:active {
  color: #81B3D2;
}

.counter {
  -moz-appearance: textfield;
}

.counter::-webkit-outer-spin-button,
.counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.btn-found {
  width: 458px;
  height: 58px;
  margin-top: 39px;

  font-size: 21px;
  line-height: 26px;
  font-weight: bold;

  border: none;
  outline: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #81B3D2;
}

.btn-found:hover,
.btn-found:focus {
  background-color: #669EC0;
}

.btn-found:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

.sea {
  width: 568px;
  height: 86px;
  bckground-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}


.main-footer {
  height: 120px;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: -120px;

}

.headline-legend {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.31;
  color: #ffffff;
}

.offers {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  color: #ffffff;
}

.filter {
  display: flex;

  padding-right: 74px;
  padding-left: 72px;
  padding-bottom: 31px;
  padding-top: 31px;
}

.filter .field-group {
  display: flex;
  padding: 0;
  margin: 0;

  border: none;
}

.filter .field-house {
  margin-left: 115px;
}

.cost {
  margin-left: auto;
}

.infrastructure {
  padding: 0;
  margin: 0;
}

.house {
  padding: 0;
  margin: 0;
}

.filter-hotel {
  background-color: #81b3d2;
  background-image: url("../img/filter-background.jpg");
  background-repeat: no-repeat;
}

.filter-option {
  list-style: none;
}

.filter-range {
  box-sizing: content-box;

  width: 330px;
  margin-left: auto;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;

  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  padding: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.filter legend {
  margin-bottom: 28px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
}

.filter ul {
  padding: 0;
  margin: 0;
}

.filter-option {
  margin-bottom: 36px;
  padding-left: 40px;
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;

  width: 23px;
  height: 23px;
  left: -40px;
  top: 0;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;

  width: 23px;
  height: 23px;
  top: 2px;
  left: -39px;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.headline-sorting {
  font-size: 12px;
  line-height: 1.5;

  padding-left: 49px;
  padding-right: 40px;
  margin: 0;

  align-self: center;
}

.search-number {
  font-weight: 700;
  align-self: center;
  margin: 0;
}

.sorting-item {
  font-size: 12px;
  line-height: 1.5;

  list-style: none;

  padding-right: 33px;
}

.catalog-sorting {
  display: flex;
  padding-left: 72px;
  padding-top: 31px;
  padding-right: 73px;
  padding-bottom: 33px;
}

.sorting-list {
  display: flex;
}

.arrows-button {
  margin-left: auto;
  align-self: center;
}

.sort-by-price {
  color: #81b3d2;
}

.sort-by-type {
  color: rgba(0, 0, 0, 0.3);
}

.sort-by-type:hover {
  color: #81b3d2;
}

.sort-by-type:active {
  color: #000000;
}

.sort-by-functions {
  color: rgba(0, 0, 0, 0.3);
}

.sort-by-functions:hover {
  color: #81b3d2;
}

.sort-by-functions:active {
  color: #000000;
}

.price {
  margin-bottom: 9px;
}

.hotel-price {
  font-size: 14px;
  line-height: 1.5;
}

.details {
  width: 110px;
  height: 27px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;

  background-color: #81b3d2;
}

.details:hover {
  background-color: #669ec0;
  color: #ffffff;
}

.details:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}

.result-item {
  display: flex;
  padding: 30px 72px;

  border-bottom: 1px solid #f2f2f2;
  border-top: 1px solid #f2f2f2;
}

.hotel-name {
  color: #000000;
}

.image-hotel {
  width: 135px;
  height: 90px;
}

.hotel-price {
  margin: 0;
}

.price {
  display: flex;
  justify-content: space-between;

  width: 184px;

  font-size: 14px;
  line-height: 1.5;
}

.info-hotel {
  padding-left: 30px;
}

.info-hotel h3 {
  margin: 0;
  margin-bottom: 7px;

  font-size: 21px;
  line-height: 1.24;
  font-weight: 700;
}

.rating {
  margin-left: auto;
}

.buttons {

  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 8px 16px;
}

.reservation {
  width: 142px;
  height: 27px;

  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;

  background-color: #766357;
}

.reservation:hover {
  background-color: #604e43;
  color: #ffffff;
}

.reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  margin-top: auto;
  padding: 5px 13px;
  background-color: #f2f2f2;
  font-size: 14px;
  line-height: 1.5;
  color: #666666;
}

.info-hotel h3:hover {
  color: #81b3d2;
}

.info-hotel h3:active {
  color: rgba(0, 0, 0, 0.3);
}

.name-logo {
  width: 136px;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
  margin-right: auto;
}


.main-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;

  padding-left: 132px;
  padding-right: 110px;
  padding-bottom: 36px;
  padding-top: 36px
}

.footer-visit {
  width: 240px;
  font-size: 21px;
  font-weight: 600;
  text-align: center;
}

.footer-social {
  display: flex;
  justify-content: center;
  width: 400px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.social-list {
  display: flex;
  justify-content: space-between;
  width: 152px;
  padding: 0;
  margin: 0;
  list-style: none;

  margin-right: 228px;
}

.social-item {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-item:hover,
.social-item:focus {
  background-color: #669ec0;
}

.social-item:active {
  background-color: #5496bd;
  fill: rgba(255, 255, 255, 0.3);
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.social-icon {
  display: block;
  fill: #fff;
}

.copyright-text {
  display: block;
  width: 74px;

  font-size: 14px;
  line-height: 1.86;
  color: #000000;

  margin-left: auto;
}

.copyright-link {
  width: 115px;
  height: 41px;
  font-size: 0;

  margin-left: auto;
}

.copyright-icon path {
  fill: #231f20;
}

.copyright-icon:hover path,
.copyright-icon:focus path {
  fill: #81b3d2;
}

.copyright-icon:active path {
  fill: #bdbbbc;
}

.social-btn:active .social-icon path {
  fill: rgba(255, 255, 255, 0.3);
}

.main-footer-hotels {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-left: 132px;
  padding-right: 110px;
  padding-bottom: 36px;
  padding-top: 36px
}
